[core]
	# Global gitignore file
	excludesfile = ~/.gitignore
	# Set editor to vim
	editor = vim
[color]
	ui = auto
[push]
	# Push only the current branch
	default = simple
[branch]
	# Use rebase on pull
	autosetuprebase = always
[alias]
	lol = !git log -1 -- | cowsay -f vader | lolcat
	# Remove everything not tracked by git
	clr = clean -fdX
	# Fuck this!
	fuckit = "!git reset --hard && git clean -fd"
[diff]
	# git 2.11 experimental diff algorithm
	indentHeuristic = true
[gui]
	# git 2.11 experimental diff algorithm
	diffopts = --indent-heuristic
